<!DOCTYPE html>
<html>
  <head>
    

    {% block head %}
    <title>Wilker França de Oliveira</title>
    {% endblock %}

    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portifolio">Projetos</a>
      </div>
    </header>

    {% block content %}{% endblock %}
  </body>


</html>